@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: 'Roboto', sans-serif; /* Certifique-se de que o autocomplete usa a fonte Roboto */
}

.ui-menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.ui-menu-item:hover, .ui-state-focus, .ui-state-active {
    background-color: #f1f1f1 !important;  /* Cor de fundo suave para o item selecionado e hover */
    color: inherit !important; /* Preserve a cor do texto original */
    text-decoration: none; /* Remove qualquer sublinhado que possa estar presente */
    border: none !important; /* Remove o contorno */
    outline: none !important; /* Remove o contorno */
    box-shadow: none !important; /* Remove o contorno */
}

.ui-menu-item div {
    display: flex;
    flex-direction: column;
    line-height: 1.2;  /* Reduz o espaçamento entre linhas */
}

.ui-menu-item .medicamento {
    font-weight: bold;
}

.ui-menu-item .descricao {
    font-size: 12px;
    font-style: italic;
    color: #666;
}

#selected-medications {
    margin-top: 20px;
}

#medication-list {
    list-style-type: none;
    padding: 0;
}

#medication-list li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

#generate-prescription {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#generate-prescription:hover {
    background-color: #0056b3;
}
